@import './base.scss';

* {
  padding: 0;
  margin: 0;
}

:focus-visible {
  outline: none;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.app-slide {
  width: $app-menu-open-width;
  background-color: #545c64;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.app-top {
  min-height: fit-content;
}

.app-header {
  height: $app-header-height;
}

.app-tab-box {
  display: flex;
}

.app-tabs {
  display: flex;
  width: 100%;
  height: $app-tabs-height;
  flex: 1;
  line-height: $app-tabs-height;
}

.app-content {
  flex: 1;
}

.app-footer {
  height: $app-footer-height;
  line-height: $app-footer-height;
  text-align: center;
  background-color: $gray;
}

.el-scrollbar__view {
  height: 100% !important;
}

.el-input {
  width: 250px !important;
}
